<!DOCTYPE html>

<html>

<head>

    <title>ShopEase</title>

    <style>

        body{
            margin:0;
            font-family:Arial, sans-serif;
            background:#f4f4f4;
        }

        nav{
            background:#001133;
            padding:20px;
            display:flex;
            align-items:center;
            gap:30px;
        }

        nav a{
            color:white;
            text-decoration:none;
            font-size:22px;
        }

        .container{
            padding:30px;
        }

    </style>

</head>

<body>

    <!-- NAVBAR -->

    <nav>

        <a href="/">
            Home
        </a>

        <a href="/cart/">
            Cart
        </a>

        <a href="/orders/">
            Orders
        </a>

        <a href="/staff/">
            Staff
        </a>

        {% if request.session.customer_name %}

            <a href="/logout/"
            style="margin-left:auto;">

                Logout

            </a>

        {% else %}

            <a href="/login/"
            style="margin-left:auto;">

                Login

            </a>

        {% endif %}

    </nav>

    <!-- PAGE CONTENT -->

    <div class="container">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>