{% extends 'shoppingapp/base.html' %}

{% block content %}

<h1>Delivery Dashboard</h1>

{% for order in orders %}

<div style="
padding:20px;
margin:20px;
background:white;
border-radius:10px;
box-shadow:0 0 10px lightgray;
">

    <h2>{{ order.product.name }}</h2>

    <p>

        Customer:
        {{ order.customer_name }}

    </p>

    <p>

        City:
        {{ order.customer_location }}

    </p>

    <p>

        Status:
        {{ order.order_status }}

    </p>

    <p>

        Delivery Type:
        {{ order.delivery_type }}

    </p>

    <a href="/update-status/{{ order.id }}/">

        <button style="
        background:blue;
        color:white;
        border:none;
        padding:10px;
        border-radius:5px;
        ">

            Update Delivery Status

        </button>

    </a>

</div>

{% empty %}

<h3>No delivery orders</h3>

{% endfor %}

{% endblock %}