{% extends 'shoppingapp/base.html' %}

{% block content %}

<div
style="
    background:white;
    padding:40px;
    border-radius:10px;
"
>

    <img
    src="{{ product.image_url }}"
    width="300"
    style="
        border-radius:10px;
        margin-bottom:20px;
    "
    >

    <h1>{{ product.name }}</h1>

    <p>
        <b>Category:</b>
        {{ product.category }}
    </p>

    <p>
        <b>Price:</b>
        ₹{{ product.price }}
    </p>

    <p>
        <b>Stock:</b>
        {{ product.stock }}
    </p>

    <p>
        <b>Seller:</b>

        {% if product.seller %}

            {{ product.seller.username }}

        {% else %}

            Admin

        {% endif %}
    </p>

    <p>
        High quality product available
        with fast delivery and secure
        packaging.
    </p>

    <a href="/buy/{{ product.product_id }}/">

        <button>

            Buy Now

        </button>

    </a>

    <a href="/add-to-cart/{{ product.product_id }}/">

        <button>

            Add to Cart

        </button>

    </a>

</div>

<br>

<hr>

<h2>Customer Reviews</h2>

<div
style="
    background:#f5f5f5;
    padding:20px;
    border-radius:10px;
"
>

<form method="POST">

    {% csrf_token %}

    <input
    type="number"
    name="rating"
    placeholder="Rating (1-5)"
    min="1"
    max="5"
    required
    >

    <br>

    <textarea
    name="comment"
    placeholder="Write review"
    style="
        width:400px;
        height:100px;
        padding:10px;
        border-radius:5px;
    "
    ></textarea>

    <br><br>

    <button type="submit">

        Submit Review

    </button>

</form>

</div>

<br>

{% if reviews %}

{% for review in reviews %}

<div
style="
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
"
>

    <h3>{{ review.customer_name }}</h3>

    <p>

        Rating:
        ⭐ {{ review.rating }}/5

    </p>

    <p>{{ review.comment }}</p>

</div>

{% endfor %}

{% else %}

<h3>No reviews yet</h3>

{% endif %}

{% endblock %}