{% extends 'shoppingapp/base.html' %}

{% block content %}

<h1>Add Product</h1>

<div style="
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 10px lightgray;
max-width:700px;
margin:auto;
">

    <form method="POST">

        {% csrf_token %}

        <input
        type="text"
        name="name"
        placeholder="Product Name"

        style="
        width:100%;
        padding:15px;
        margin-bottom:20px;
        border-radius:10px;
        border:1px solid gray;
        ">

        <input
        type="text"
        name="category"
        placeholder="Category"

        style="
        width:100%;
        padding:15px;
        margin-bottom:20px;
        border-radius:10px;
        border:1px solid gray;
        ">

        <input
        type="number"
        name="price"
        placeholder="Price"

        style="
        width:100%;
        padding:15px;
        margin-bottom:20px;
        border-radius:10px;
        border:1px solid gray;
        ">

        <input
        type="number"
        name="stock"
        placeholder="Stock"

        style="
        width:100%;
        padding:15px;
        margin-bottom:20px;
        border-radius:10px;
        border:1px solid gray;
        ">

        <input
        type="text"
        name="image_url"
        placeholder="Image URL"

        style="
        width:100%;
        padding:15px;
        margin-bottom:20px;
        border-radius:10px;
        border:1px solid gray;
        ">

        <button type="submit"

        style="
        background:#2563eb;
        color:white;
        border:none;
        padding:15px 30px;
        border-radius:10px;
        font-size:18px;
        cursor:pointer;
        ">

            Add Product

        </button>

    </form>

</div>

{% endblock %}